<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>694917898920-5ee2g9jlfv396l3mrcerev7rfckri0d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694917898920-5ee2g9jlfv396l3mrcerev7rfckri0d8</string>
	<key>API_KEY</key>
	<string>AIzaSyDvOEDTFz_FceJPZCRLtdVurB3pb5CxKas</string>
	<key>GCM_SENDER_ID</key>
	<string>694917898920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cell411.ro112</string>
	<key>PROJECT_ID</key>
	<string>ro-112</string>
	<key>STORAGE_BUCKET</key>
	<string>ro-112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694917898920:ios:758ac74afff0d170</string>
	<key>DATABASE_URL</key>
	<string>https://ro-112.firebaseio.com</string>
</dict>
</plist>